.Navbar{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 40px;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
  justify-content: center;
}

.NavbarLeft{
  justify-content: left;
  float: left;

}

.NavbarRight{
  justify-content: right;
  float: right;
}

.logo{
  width: 40px;
  text-align: center;
  justify-content: center;
}

.user{
  width: 40px;
}

/*Yritan addMeme ikooni saada vakalule ja User ikooni paremale kuid senimaani pole snd :D*/